<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Home Page | Story 9</title>
</head>

	<!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>

	<div class="form">
		<h1>{{greeting}}<br>{{please}} {{admin}}</h1>
		{% if log == "login" %}
		<button type="button" id="login" class="button button-block" onclick="window.location.href='{% url 'login' %}'">Log In / Sign Up</button>
		{% elif log == "logout" %}
		<button type="button" id="logout" class="button button-block" onclick="window.location.href='{% url 'logout' %}'">Log Out</button>
		{% endif %}
	</div>
	
</body>
</html>